@{
    ViewBag.Title = "Index";
}

<p>แสดงตัวอย่าง ASP.NET <abbr title="Model-View-Controller" class="initialism">MVC</abbr> 4 โดยจัด <abbr title="User Interface" class="initialism">UI</abbr> Layout ด้วย bootstrap, bind UI กับ model ด้วย knockout</p>